.gitignore
.github/**
.vscode/**
.vscode-test/**
test/**
src/**
dist/**
node_modules/**
**/*.map
**/*.ts
build-lang.js
syntaxes/*.yaml
tsconfig.json
cgmanifest.json
server/src/**
server/node_modules/**
server/*.json
