.gitignore
.github/**
.vscode/**
.vscode-test/**
test/**
src/**
dist/**
node_modules/**
**/*.map
**/*.ts
syntaxes/*.yaml
syntaxes/*.js
tsconfig.json
cgmanifest.json
server/src/**
server/node_modules/**
server/*.json
