body {
  background-color: var(--vscode-editor-background);
}

body.vscode-light {
  color: rgb(113, 113, 113);
}

body.vscode-dark {
  color: rgb(146, 146, 146);
}

body.with-preview {
  background-color: white;
}

body.with-preview.vscode-light {
  color: rgb(113, 113, 113);
}

body.with-preview.vscode-dark {
  color: rgb(146, 146, 146);
}

#diagram-preview {
  width: 100%;
  height: 100%;
  padding: 8px;
}

#diagram-preview svg {
  width: 100%;
  height: 100%;
}
